*{
    text-decoration: none;
    border:border-box;
    padding: none;
    margin: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    list-style: none;
}

html{
    height: 100%;
}


body {
    min-height: 100%;
    background: linear-gradient(180deg, white 10%, #FAF6E9);
    background-attachment: fixed;
    padding-bottom: 100px; /* 👈 This also works */
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
 width: 10%;
 transform: translateX(0px);
 
}

ul{
    padding-inline-start: 0px;
}

nav .left ul a{
 color: #A0C878;
 margin: 40px;
 
}

nav .left ul a:hover{
    color: rgb(236, 187, 116);
   
    
   }

nav .right ul a{
 color: #A0C878;
 margin: 40px;
}

nav .right ul a:hover{
    color: rgb(236, 187, 116);
   }

main h1{
    font-size: 50px;
    font-weight: 900;
    color: #A0C878;
    text-align: center;
}

main p{
    color:#bacd68;
    text-align: center;
    transform:translateY(-80px) translateX(20px);
    
}

main img{
    width: 15%;
    transform:translateX(20px);
    transform:translateY(70px);
}



main button{
    text-decoration: none;
    border: none;
    background-color: #A0C878;
    color:#FFFDF6;
    border-radius: 12px;
    transform:translateX(385px) translateY(-130px);
    cursor: pointer;
}

main button:hover{
    background-color: rgb(236, 187, 116);
}


.box{
    display:flex;
    justify-content: space-around;
    margin-top: 90px;
    border-bottom: 100px;
    cursor: pointer;
}
.box1{
    width: 250px;
    height: 155px;
    background-color: #A0C878;
    border-radius: 15px;
    display: flex; 
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: #FFFDF6;
}

.box2{
    width: 250px;
    height: 155px;
    background-color: #A0C878;
    border-radius: 15px;
    display: flex; 
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: #FFFDF6;

}

.box3{
    width: 250px;
    height: 155px;
    background-color: #A0C878;
    border-radius: 15px;
    display: flex; 
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: #FFFDF6;
}

.cats{
    width:120px;
    
}

.box1 .img img{
    transform:translateX(-50px) translateY(-40px);
}

.box2 .img img{
    transform:translateX(-50px) translateY(-40px);
}

.box3 .img img{
    transform:translateX(-50px) translateY(-40px);
}

.data p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    padding: 10px;
    color: #FFFDF6;
    margin-top: 50px;
}
.box1 .img img,
.box2 .img img,
.box3 .img img {
    transform: translateX(-50px) translateY(-40px);
}

div .img{
    width:0px;
}

h6{
    margin-top: 130px;
    font-size: 10px;
    color: #A0C878;
    text-align: center;
}